<div id="filters">
  <div id="pantry-and-cuisines">
    <h1>My Pantry</h1>
  </div>
  <div id="filters-container">
    <p>Max preparation time in minutes: <span>{{ prepSliderValue }}</span></p>
    <mat-slider class="filter-slider" min="5" max="300" step="1" [thumbLabel]="true" [(ngModel)]="prepSliderValue">
    </mat-slider>
                                                                                                                            <!--    TODO Fix range slider for calories.-->
    <p>Calories: <span>{{ minValue }}</span> - <span>{{ maxValue }}</span></p>
    <mat-slider class="filter-slider" [min]="minValue" [max]="maxValue" [(ngModel)]="sliderValue" [thumbLabel]="true"
                step="1">
    </mat-slider>

    <mat-checkbox class="filter-checkbox" [(ngModel)]="glutenIntolerance" [ngModelOptions]="{standalone: true}">
      Gluten Intolerance
    </mat-checkbox>
  </div>
</div>
