#filters {
  width: 100%;
  /*height: 36vh;*/
  margin-top: 20px;
  padding: 0 40px 0 20px;
  border-bottom: 10px solid #222831;
  display: flex;
  flex-direction: row;
}

#pantry-and-cuisines {
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 15px;
}

#filters h1 {
  color: #303030;
  font-size: 36px;
  text-align: left;
}

#filters-container {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#filters-container p {
  font-size: 20px;
  font-weight: 500;
  margin-left: 6px;
  margin-bottom: 0;
}

#empty-pantry p {
  margin: 0;
}

#empty-pantry img {
  width: 65px;
  margin-bottom: 10px;
}

.legend {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

#green_dot {
  background-color: #54B572;
}

#red_dot {
  background-color: #DE5243;
}

::ng-deep .ngx-slider .ngx-slider-bar{
  background: #c9c1c1 !important;
}

::ng-deep .ngx-slider .ngx-slider-handle {
  background-color: #303030 !important;
}


::ng-deep .ngx-slider .ngx-slider-pointer{
  background-color: #303030 !important;
  scale: 80%;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after{
  background-color: white !important;
}

::ng-deep .ngx-slider .ngx-slider-selection{
  background-color: #303030 !important;
}

.filter-checkbox {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;

}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 24px;height: 24px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #303030 !important;
}

::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
  stroke: white !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #303030;
}

.ingredients-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 4px;
  background: #222831;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #FFA012;
}

.ingredients-container a {
  text-decoration: none;
  color: #303030;
  /*background-color: #F2F4F3;*/
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.ingredients-container a p {
  margin: 0;
  color: white;
}

.ingredients-container a :hover {
  cursor: pointer;
}

.excluded {
  background-color: #DE5243;
}

.included {
  background-color: #54B572;
}

#search-button {
  background-color: #FFA012;
  font-size: 18px;
  width: 120px;
  padding: 5px 20px;
  margin: 20px 0 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 992px) {

  #filters h1 {
    font-size: 30px;
  }

  #filters-container p {
    font-size: 16px;
  }

  ::ng-deep .ngx-slider .ngx-slider-pointer{
    scale: 60%;
  }

  .filter-checkbox {
    font-size: 16px;
  }

  mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 20px;height: 20px;
  }

  #search-button {
    font-size: 16px;
    width: 80px;
    padding: 0 15px;
  }

  .ingredients-container a {
    font-size: 16px;
  }

}

@media only screen and (max-width: 900px) {
  #filters {
    flex-direction: column;
    padding: 0 20px;
  }

  #pantry-and-cuisines {
    width: 100%;
  }

  #filters-container {
    width: 100%;
    padding: 0;
  }
}







